Repository Benceszalaiii/DoL, pull requests merged in 2024-02, with the labels that each got.

#4 Alap fileok inicializálása
  .vscode/launch.json
  .vscode/settings.json
  Characters/enemy.py
  Characters/player.py
  Map/map_init.py
  game.py
  main.py
  settings.py
Labels: .json, Inicializálás, Tájpcsekk

#6 Pylance kijavítása
  .vscode/settings.json
Labels: .json, Bug, >.<

#5 .json fileok megírása
  .vscode/launch.json
  .vscode/settings.json
Labels: .json, Inicializálás, Tájpcsekk approved
